
/* ------------------- */
/* contenido principal */
/* ------------------- */
.cont-main {
     background-color: #ffffff;
     width: 1200px;
     margin: 40px auto; /* margen arriba y abajo 40px, izq y der se centra automaticamente */
     display: flex;
     flex-direction: row-reverse;
     box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
     border-radius: 6px;
 }
 
 
 /* ------------------- */
 /* informacion general */
 /* ------------------- */
 .cont-general-info{
     padding: 100px 88px;
 }
 
 /* Descripcion */
 
 .nombre{
     font-style: normal;
     font-weight: 700;
     font-size: 45px;
     line-height: 55px;
     margin-top: 20px;
     margin-bottom: 25px;
 }
 
 .texto-descripcion{
     width: 550px;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
 }
 
 .descripcion-profesion {
     font-size: 14px;
     font-weight: 700;
 }
 
 /* Secciones principales */
 .titulo-seccion-principal{
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     margin-top: 45px;
 }
 
 .texto-naranja{
     color: #FB6D3A;
     margin-bottom: 6px;
 }
 
 
 /* seccion proyectos */
 .lista-proyectos{
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 24px;
     padding-left: 17px;
 }
 
 .enlace-proyectos{
     color: #595959;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     padding-left: 4px;
 }
 
 .puntos-proyectos{
     color: #595959;
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 2px;
 }
 
 /* seccion experiencia laboral */
 .puesto-empresa{
     margin-top: 22px;
     margin-bottom: 0px;
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
 }
 
 .periodo-empresa{
     margin-top: 6px;
     color: #A8A8A8;
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 15px;
 }
 
 .lista-experiencia{
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     padding-left: 17px;
 }
 
 
 /* seccion educacion */
 .puesto-educacion{
     margin-top: 0px;
     margin-bottom: 0px;
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     
 }
 
 /* ------------------- */
 /* informacion lateral */
 /* ------------------- */
 
 .cont-lateral{
     background-color: #1E2939;
     padding: 40px 0px;
     border-radius: 6px;
 }
 
 .titulo-lateral{
     color: #ffffff;
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 27px;
     margin-top: 50px;
     margin-bottom: 8px;
 }
 
 .contactos, .habilidades-tecnicas, .habilidades-blandas {
     margin-left: 40px;
 }
 
 h1{
     font-size: 24px;
 }
 
 /* seccion contactos */
 .tipo-contacto{
     color: #ffffff;
     font-style: normal;
     font-weight: 700;
     font-size: 14px;
     line-height: 24px;
     margin-right: 5px;
 }
 
 .contacto-info{
     color: #c4c4c4;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
 }
 
 
 
 /* seccion de lista */
 .lista-lateral{
     padding: 0;
     padding-left: 17px;
 }
 
 .lista-lateral > li{
     color: #FB6D3A;
 }
 
 .elemento-lista-lateral{
     color: #ffffff;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
 }